In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('data2021-01-29.xlsx')

In [4]:
df.head()

    Restaurant Review  ReviewCount  Reply type  min-price       minprice
0  치킨플러스-안성공도점    4.5         99.0     28   치킨        NaN  13,900원 이상 배달
1   멕시카나-진사용이점    4.4       1330.0    301   치킨        NaN  17,000원 이상 배달
2   교촌치킨-공도1호점    4.5        876.0      0   치킨        NaN  15,000원 이상 배달
3   롯데리아-안성공도점    4.4        678.0      0   치킨        NaN  12,000원 이상 배달
4   네네치킨-용이지구점    4.8        322.0    296   치킨        NaN  15,000원 이상 배달

In [15]:
df.columns

Index(['Restaurant', 'Review', 'ReviewCount', 'Reply', 'type', 'min-price'], dtype='object')

In [16]:
df.type.value_counts()

한식       120
야식        89
치킨        67
피자양식      37
분식        37
카페디저트     36
일식돈까스     23
중식        22
족발보쌈      21
편의점        6
Name: type, dtype: int64

In [17]:
df.count()

Restaurant     458
Review         458
ReviewCount    458
Reply          458
type           458
min-price      458
dtype: int64

In [18]:
df.describe()

       ReviewCount        Reply   min-price
count   458.000000   458.000000  458.000000
mean    167.242358    56.056769   15.504367
std     353.815358   257.886353    6.522557
min       0.000000     0.000000    3.000000
25%       5.000000     0.000000   12.000000
50%      34.000000     1.000000   15.000000
75%     159.500000    28.000000   18.000000
max    3631.000000  3606.000000  100.000000

In [20]:
df.columns

Index(['Restaurant', 'Review', 'ReviewCount', 'Reply', 'type', 'min-price'], dtype='object')

In [43]:
min = 'minprice

NameError: name 'price' is not defined

In [42]:
df.min.value_counts()

AttributeError: 'function' object has no attribute 'value_counts'